/* Add your CSS styles here */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 60%; /* Adjust the width as needed */
    max-width: 500px;
    padding: 20px;
    text-align: left;
}


header {
    background-image: url(001.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;

}


h1 {
    font-size: 20px;
}

.score-section {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.score-item {
    text-align: left;
}

.score-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.score-item p:last-child {
    font-size: 24px;
    
}

footer {
    background-image: url(002.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  footer p {
    margin: 0;
  }
